In [52]:
import pandas as pd

In [53]:
file_path = "./dataset/Livro1.xlsx"

In [54]:
df = pd.read_excel(file_path, engine="openpyxl")

In [55]:
df.head()

,ano,janeiro,fevereiro,março,abril,maio,junho,julho,agosto,setembro,outubro,novembro,dezembro
0,2001,135.9,68.7,138.8,3.6,9.8,0.4,0,0.2,71,69.8,56.6,217.4
1,2002,49.8,12.0,67.6,54.0,28.8,0.6,0,0.0,87,113.0,119.2,85.6
2,2003,51.0,79.4,63.0,79.2,8.0,0.0,0,0.6,1,165.4,104.8,71.2

In [81]:
months = df.columns[1:]

In [82]:
months

Index(['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', 'julho',
       'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'],
      dtype='object')

In [83]:
years = df['ano']

In [86]:
years

0    2001
1    2002
2    2003
Name: ano, dtype: int64

In [94]:
df

,janeiro,fevereiro,março,abril,maio,junho,julho,agosto,setembro,outubro,novembro,dezembro
0,135.9,68.7,138.8,3.6,9.8,0.4,0,0.2,71,69.8,56.6,217.4
1,49.8,12.0,67.6,54.0,28.8,0.6,0,0.0,87,113.0,119.2,85.6
2,51.0,79.4,63.0,79.2,8.0,0.0,0,0.6,1,165.4,104.8,71.2

In [106]:
months = {
    'janeiro': '01', 
    'fevereiro': '02', 
    'março': '03', 
    'abril': '04', 
    'maio': '05', 
    'junho': '06', 
    'julho': '07', 
    'agosto': '08',
    'setembro': '09',
    'outubro': '10',
    'novembro': '11',
    'dezembro': '12'
}

In [116]:
row = []
for idx in years.index:    
    year = years[idx]
    for column, value in df.iteritems():
#         print(months[column] + '-' + str(year), value[idx])    
        row.append({
            'mes': months[column] + '-' + str(year), 
            'precipitacao': value[idx]
        }) 

mydata = pd.DataFrame(d)

01-2001 135.9
02-2001 68.7
03-2001 138.8
04-2001 3.6
05-2001 9.8
06-2001 0.4
07-2001 0
08-2001 0.2
09-2001 71
10-2001 69.8
11-2001 56.6
12-2001 217.4
01-2002 49.8
02-2002 12.0
03-2002 67.6
04-2002 54.0
05-2002 28.8
06-2002 0.6
07-2002 0
08-2002 0.0
09-2002 87
10-2002 113.0
11-2002 119.2
12-2002 85.6
01-2003 51.0
02-2003 79.4
03-2003 63.0
04-2003 79.2
05-2003 8.0
06-2003 0.0
07-2003 0
08-2003 0.6
09-2003 1
10-2003 165.4
11-2003 104.8
12-2003 71.2

In [118]:
mydata.set_index('mes')

         value
mes
01-2001  135.9
02-2001   68.7
03-2001  138.8
04-2001    3.6
05-2001    9.8
06-2001    0.4
07-2001    0.0
08-2001    0.2
09-2001   71.0
10-2001   69.8
11-2001   56.6
12-2001  217.4
01-2002   49.8
02-2002   12.0
03-2002   67.6
04-2002   54.0
05-2002   28.8
06-2002    0.6
07-2002    0.0
08-2002    0.0
09-2002   87.0
10-2002  113.0
11-2002  119.2
12-2002   85.6
01-2003   51.0
02-2003   79.4
03-2003   63.0
04-2003   79.2
05-2003    8.0
06-2003    0.0
07-2003    0.0
08-2003    0.6
09-2003    1.0
10-2003  165.4
11-2003  104.8
12-2003   71.2

In [75]:
for column, value in df.iteritems():
    print(column, value)

ano 0    2001
1    2002
2    2003
Name: ano, dtype: int64
janeiro 0    135.9
1     49.8
2     51.0
Name: janeiro, dtype: float64
fevereiro 0    68.7
1    12.0
2    79.4
Name: fevereiro, dtype: float64
março 0    138.8
1     67.6
2     63.0
Name: março, dtype: float64
abril 0     3.6
1    54.0
2    79.2
Name: abril, dtype: float64
maio 0     9.8
1    28.8
2     8.0
Name: maio, dtype: float64
junho 0    0.4
1    0.6
2    0.0
Name: junho, dtype: float64
julho 0    0
1    0
2    0
Name: julho, dtype: int64
agosto 0    0.2
1    0.0
2    0.6
Name: agosto, dtype: float64
setembro 0    71
1    87
2     1
Name: setembro, dtype: int64
outubro 0     69.8
1    113.0
2    165.4
Name: outubro, dtype: float64
novembro 0     56.6
1    119.2
2    104.8
Name: novembro, dtype: float64
dezembro 0    217.4
1     85.6
2     71.2
Name: dezembro, dtype: float64

In [10]:
import warnings
import logging

import pandas as pd

In [11]:
logging.basicConfig(level=logging.WARN)
logger = logging.getLogger(__name__)

In [14]:
# warnings.filterwarnings("ignore")
# np.random.seed(40)

file_path = (
    "./dataset/sample_dataset.xlsx"
)
try:
    df = pd.read_csv(file_path)
except Exception as e:
    logger.exception(
        "Unable to read dataset XLSX, check your internet connection. Error: %s", e
    )

ERROR:__main__:Unable to read dataset XLSX, check your internet connection. Error: 'utf-8' codec can't decode bytes in position 15-16: invalid continuation byte
Traceback (most recent call last):
  File "C:\Users\ManuelSousa\AppData\Local\Temp\ipykernel_16408\2059663769.py", line 8, in <module>
    df = pd.read_csv(file_path)
  File "c:\users\manuelsousa\appdata\local\programs\python\python37\lib\site-packages\pandas\util\_decorators.py", line 311, in wrapper
    return func(*args, **kwargs)
  File "c:\users\manuelsousa\appdata\local\programs\python\python37\lib\site-packages\pandas\io\parsers\readers.py", line 586, in read_csv
    return _read(filepath_or_buffer, kwds)
  File "c:\users\manuelsousa\appdata\local\programs\python\python37\lib\site-packages\pandas\io\parsers\readers.py", line 482, in _read
    parser = TextFileReader(filepath_or_buffer, **kwds)
  File "c:\users\manuelsousa\appdata\local\programs\python\python37\lib\site-packages\pandas\io\parsers\readers.py", line 811, in __init__
    self._engine = self._make_engine(self.engine)
  File "c:\users\manuelsousa\appdata\local\programs\python\python37\lib\site-packages\pandas\io\parsers\readers.py", line 1040, in _make_engine
    return mapping[engine](self.f, **self.options)  # type: ignore[call-arg]
  File "c:\users\manuelsousa\appdata\local\programs\python\python37\lib\site-packages\pandas\io\parsers\c_parser_wrapper.py", line 69, in __init__
    self._reader = parsers.TextReader(self.handles.handle, **kwds)
  File "pandas\_libs\parsers.pyx", line 542, in pandas._libs.parsers.TextReader.__cinit__
  File "pandas\_libs\parsers.pyx", line 642, in pandas._libs.parsers.TextReader._get_header
  File "pandas\_libs\parsers.pyx", line 843, in pandas._libs.parsers.TextReader._tokenize_rows
  File "pandas\_libs\parsers.pyx", line 1917, in pandas._libs.parsers.raise_parser_error
UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 15-16: invalid continuation byte

In [13]:
df

NameError: name 'df' is not defined

In [1]:
import numpy as np
from sklearn.linear_model import LogisticRegression

import mlflow
import mlflow.sklearn

if __name__ == "__main__":
    X = np.array([-2, -1, 0, 1, 2, 1]).reshape(-1, 1)
    y = np.array([0, 0, 1, 1, 1, 0])
    lr = LogisticRegression()
    lr.fit(X, y)
    score = lr.score(X, y)
    print("Score: %s" % score)
    mlflow.log_metric("score", score)
    mlflow.sklearn.log_model(lr, "model")
    print("Model saved in run %s" % mlflow.active_run().info.run_uuid)

Score: 0.6666666666666666
Model saved in run fa0919cfe16f4be5a4c13a01ccf8d961